@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-height: 64px;
  --navbar-width: 250px;
}

body {
  @apply font-poppins font-thin;
}

.content {
  @apply relative;
}

.button-red {
  @apply bg-red-600 text-white rounded px-5 py-2 ml-4 h-fit;
}

.social-icons {
  @apply w-[24px] h-[24px];
}

.product-details-e {
  @apply w-[100px] text-sm text-slate-500;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOutLeft {
  from {
    transform: translateX(0);
    opacity: 1;
  }

  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.custom-modal .ant-modal-content {
  animation: slideInLeft 0.5s forwards;
  border-radius: 0;
  border-bottom-right-radius: 20px;
}

.custom-modal.slide-in-left .ant-modal-content {
  animation: slideInLeft 0.5s forwards;
}

.custom-modal.slide-out-left .ant-modal-content {
  animation: slideOutLeft 0.5s forwards;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.buy-product-modal .ant-modal-content {
  @apply md:w-[135%];
}
.img-center img{
  margin: auto;

}

.editor-nav {
  max-height: calc(100% - 64px);
  max-width: calc(100% - 396px);
  background-color: rgb(235,236,240);
}