
.form-signup {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    min-height: 100%;
    /* margin: -20px 0 50px; */
    padding: 50px;
    background: url('../image/background.jpg') 0% 0% / contain;
    background-attachment: fixed;
    z-index: 0;
}

.form-submit{
    box-shadow:  2px 2px 10px 2px #000000;
    margin: auto 0;
    justify-content: space-evenly;
    border-radius: 10px;
    margin: auto auto;
    display: flex;
    background-color: white;
    width: 90%;
    height: auto;
}
.box-left{
    /* background: url('./image/img4.jpg'); */
    width: 50%;
        display: flex ;
        justify-content: center;
        align-items: center;

}
.box-right{

    width: 50%;
    padding: 0 10px;
}
.img-singup{
    width: 100%;
    height: auto;
    /* margin: auto 0; */
}
.group-input{
    display: block;

}
.group-input-pasword{
    display: flex;
}
.group-input-pasword .group-input{
     width: 50%;
     margin-right: 10px;
}
.btn-submit-sign{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    border: none;
    background-color: rgb(95, 97, 230);
    border-radius: 10px;
    font-size: 14px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    font-family: "Canva Sans", "Noto Sans Variable", "Noto Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
}

.nav-sign{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    margin: 13px auto;
    text-align: center;
}
.group-input p{
    display: block;
    font-family: "Canva Sans", "Noto Sans Variable", "Noto Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 500;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    margin: 15px 0;

}
.group-input input{
    /* margin: 15px 0; */
    width: 100%;
    padding: 12px 20px;
    display: inline-bl #cccccc;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    background: rgb(248, 248, 248);
}
.group-input input:active{
    border: none;
}
.title-sign{
    font-size: 18px;
    padding: 15px 0;
}